<!-- Intro -->
<div id="intro">
  <img src="/images/logo-icon.png" class="imgHeaderLogo" alt="Nexus Plater" />
  <!--<h1>Nexus Plater</h1> -->
  <p>
    Nexus Plater Provides Affordable and High-Quality Corporate Gifts and
    Promotional Products in UAE with Quick Delivery. <br />
    Exclusive Business Gifts For All Events & Budgets.
  </p>
  <ul class="actions">
    <li>
      <a href="#header" class="button icon solid solo fa-arrow-down scrolly"
        >Continue</a
      >
    </li>
  </ul>
</div>

<!-- Header -->
<header id="header">
  <a href="/home" class="logo">Nexus Plater</a>
</header>

<!-- Nav -->
<nav id="nav">
  <ul class="links">
    <li class="active"><a href="#catalog">Catalog</a></li>
    <li><a href="#about">About Us</a></li>
    <li><a href="#contact">Contact Us</a></li>
  </ul>
  <ul class="icons">
    <li>
      <a
        href="https://wa.me/message/KFVWSJUR56XYJ1"
        target="_blank"
        class="icon brands fa-whatsapp"
        ><span class="label">WhatsApp</span></a
      >
    </li>
    <li>
      <a
        href="https://www.facebook.com/nexusplater"
        target="_blank"
        class="icon brands fa-facebook-f"
        ><span class="label">Facebook</span></a
      >
    </li>
    <li>
      <a
        href="https://www.instagram.com/nexusplater"
        target="_blank"
        class="icon brands fa-instagram"
        ><span class="label">Instagram</span></a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/nexusplater"
        target="_blank"
        class="icon brands fa-linkedin"
        ><span class="label">LinkedIn</span></a
      >
    </li>
  </ul>
</nav>
