<html>
  <head>
    <title>Corporate Gifts and Promotional Products | Nexus Plater</title>
    <meta
      name="description"
      content="Nexus Plater provides high-quality corporate gifts with and promotional products fast turnaround and competitive pricing. Contact us today!"
    />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="icon" type="image/x-icon" href="/images/logo-icon.png" />
    <!-- <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" /> -->
    <link rel="stylesheet" href="/css/main.css" />
    <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "NexusPlater",
        "url": "https://www.nexusplater.com",
        "logo": "https://www.nexusplater.com/images/logo-icon.png",
        "image": "https://www.nexusplater.com/images/logo-b.jpg",
        "description": "NexusPlater provides affordable, high quality corporate gifts and promotional products in the UAE with fast delivery.",
        "telephone": "+971502878009",
        "email": "info@nexusplater.com",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Ad Difaf St., Al Reem Island",
          "addressLocality": "Abu Dhabi",
          "addressRegion": "Abu Dhabi",
          "addressCountry": "UAE",
          "postOfficeBoxNumber": "109240"
        },
        "areaServed": {
          "@type": "Country",
          "name": "United Arab Emirates"
        },
        "openingHoursSpecification": [
          {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday"
            ],
            "opens": "09:00",
            "closes": "17:00"
          }
        ],
        "sameAs": [
          "https://www.facebook.com/nexusplater",
          "https://www.instagram.com/nexusplater",
          "https://www.linkedin.com/in/nexusplater",
          "https://wa.me/message/KFVWSJUR56XYJ1"
        ]
      }
    </script>
  </head>
  <body class="is-preload">
    <!-- Start Wrapper -->
    <div id="wrapper" class="fade-in">
      <%- include('../partials/header-2.ejs') %> <%- body %> <%-
      include('../partials/footer-1.ejs') %>
    </div>
    <!-- Start Wrapper -->
  </body>

  <!-- Start Scripts -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.scrollex.min.js"></script>
  <script src="/js/jquery.scrolly.min.js"></script>
  <script src="/js/browser.min.js"></script>
  <script src="/js/breakpoints.min.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/main.js"></script>

  <script>
    window.onload = function clock() {
      var d = new Date();
      var date = d.getUTCDate();
      var month = d.getUTCMonth();
      var year = d.getUTCFullYear();
      var monthArr = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
      ];
      month = monthArr[month];
      document.getElementById("spanSysDate").innerHTML =
        date + " " + month + " " + year;
      document.getElementById("spanSysYear").innerHTML = year;
    };
  </script>
  <!-- End Scripts -->
</html>
