<!-- Message -->
<div id="intro">
  <header id="header">
    <a href="/home" class="logo">Back</a>
  </header>

  <h1>Page Not Found (404)</h1>
  <br />
  <h5>Oops! It looks like the page you are trying to reach doesn't exist.</h5>
  <br />
  <p>
    Possible reasons for this error:
    <br />
    - The page address (URL) was entered incorrectly.
    <br />
    - The page you are looking for has been removed or renamed.
    <br />
    - The link you followed is outdated.
    <br />
    What you can do:
    <br />
    - Double-check the URL for any spelling errors or capitalization issues.
    <br />
    - Navigate to our homepage and browse from there.
    <br />
    - Contact us if you believe this is an error on our part.
  </p>
  <header id="header">
    <a href="/home" class="logo">Back</a>
  </header>
</div>
