<!-- Main -->
<div id="main">
  <article class="post featured">
    <header class="major">
      <span name="spanSysDate" id="spanSysDate" class="date"></span>
      <h2>
        <a href="https://giftsupplier.com/" target="_blank"
          >High-Quality Corporate and Promotional Gifts</a
        >
      </h2>
      <p>
        With NexusPlater’s commitment to quality, innovation, and
        sustainability, the company has played a vital role in transforming how
        businesses approach promotional gifting. Today, NexusPlater is the first
        choice for companies looking for customized, premium, and impactful
        corporate gifts. Explore the best promotional gifts and elevate your
        corporate branding strategy!
      </p>
    </header>
    <div id="divCatalogImg">
      <a
        href="https://giftsupplier.com/"
        alt="Catalog"
        target="_blank"
        class="image main"
        ><img
          id="imgCatalogImage"
          src="/images/giftssupplier-2.png"
          alt="Catalog"
      /></a>
    </div>
    <ul class="actions special">
      <li>
        <a href="https://giftsupplier.com/" target="_blank" class="button large"
          >Full Catalog</a
        >
      </li>
    </ul>
  </article>
</div>
