<html>
  <head>
    <title>NexusPlater</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="icon" type="image/x-icon" href="/images/logo-icon.png" />
    <!-- <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" /> -->
    <link rel="stylesheet" href="/css/main.css" />
    <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
  </head>
  <body>
    <h1>This is Private Page 101</h1>
    <!-- End Wrapper -->
  </body>
</html>
